<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../stylesheets/404err.css">
  </head>
<body class="bg-purple">
        
    <div class="stars">
        <div class="custom-navbar">
            <div class="brand-logo">
                <img src="../../images/Logo_HQ5_Gris.png" width="80px">
            </div>
            <div class="navbar-links">
                <ul>
                  <li><a href="../contacto" class="btn-request" target="_blank">Contacto</a></li>
                </ul>
            </div>
        </div>
        <div class="central-body">
            <%- type_err %>
            <a href="https://hq5.com.co/" class="btn-go-home" target="_blank">VIAJAR A  HQ5</a>
        </div>
        </div>
        <div class="glowing_stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>

        </div>

    </div>

</body>
</html>