<%- include templates/header.ejs %>
  <body class="d-flex h-100 text-center text-bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <%- include templates/navbar.ejs %>
  <body>
    <div class="inner " id="center_container p-3">
      <h1>Entrevista enviada exitosamente.
        <br>¡Gracias por participar!<br>
        Te contactaremos próximamente
       <br>:)
     </h1>
    <img src="/images/contactoHQ5.png" width="350px"class="rounded mx-auto d-block">
    
  </div>
<div>
  <a href="https://www.facebook.com/hq5sas">
    <img src="/images/facebook.png" class="icons"></a>
  </a>
  <a href="https://www.instagram.com/hq5_sas/">
    <img src="/images/instagram.png" class="icons"></a>
  </a>
  <a href="https://www.linkedin.com/company/hq5-sas/mycompany/">
    <img src="/images/linkedin.png" class="icons"></a>
  </a>
  <a href="mailto:info@hq5.com.co">
    <img src="/images/mail.png" class="icons"></a>
  </a>
  <a href="https://www.tiktok.com/@hq5_sas">
    <img src="/images/tiktok.png" class="icons"></a>
  </a>
  <a href="https://www.hq5.com.co">
    <img src="/images/web.png" class="icons"></a>
  </a>
</div>
  
  <%- include templates/footer.ejs %>
</div>
<script rel="stylesheet" src="./script.js"></script>
</body></html>
