<%- include templates/header.ejs %>
<!--init-->
      <!-- boddy style -->
      <script defer src="./javascripts/face-api.min.js"> </script> 
      <script defer src="./javascripts/secuence.js"> </script> 
      
      
  <body class="text-center text-bg-dark">
    
    <div class="cover-container d-flex p-0 mx-auto flex-column justify-content-md-center">
      <div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md">
               
            <div id="cotainer_video">
                <video id="video_"   autoplay muted width="440" >No puede cargar el video :c </video>
            </div>  
        </div>
        
        <div class="col-md text-dark container-fluid" id="divicionDerecha" style="background-color: rgb(240, 240, 240) ;">
          <!-- navbar -->
          <header class="mb-auto">
            <div>
              <h3 class="float-md-start mb-0">HQ5</h3>
                <div class="container-fluid">
                  <ul class="nav justify-content-center float-md-end">
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="./">Consejos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="./empezar">Empezar</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="./contacto">Contacto</a>
                    </li>
                  </div>    
                  </ul>
            </div>
          </header>
          <!---->
          <main>
          <div class="text-justify center_ ">
            <div id="alertas" class="alert alert-danger" role="alert"><%= alerta %></div>
            <div class="col border-end  d-flex justify-content-center align-items-center">
            <p id="pregunta_txt"><%= txt_content %></p>
          </div>
            <div class="col border-end  d-flex justify-content-center align-items-center">
            <p id="timer"></p>
          <div  id="next_bttn" class="btn btn-lg btn-info text-light"><%= bttn %></div>  
        </div>   
        </div>
          <!-- <script defer src="./javascripts/deteccionRostro.js"> </script>  -->
        </div>
        </div>
      </div>
  
  </div>
  </main>
  </body></html>