<%- include templates/header.ejs %>

<body class="d-flex h-100 text-center text-bg-dark">
  <form action="/index" method="post">
  
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <%- include templates/navbar.ejs %>

<main class="px-3">
  <div class="row justify-content-md-center"> 
    
  <div class="col-4 ">
  <h1>¿Cómo tener la mejor entrevisa?</h1>
  <p class="lead ">
      <ul>
          <li>
              Asegúrate de tener una conexión estable a internet
          </li>
          <li>
              Vigila la iluminación y el sonido ambiente (que no tengas ventanas detrás tuyo)
          </li>
          <li>
              No te olvides de cuidar la imágen  
          </li>
          <li>
            Haz pruebas previas a la entrevista. Puedes probar aquí 
          </li>
      </ul>

  <p class="lead">
    <a href="./empezar" class="btn btn-lg btn-secondary fw-bold border-white">Empezar</a>
  </p>
</div>
</div>
</form>
</main>
<%- include templates/footer.ejs %>
