<%- include templates/header.ejs %>

<body class="text-center text-bg-dark">
  <form action="/index" method="post">
  
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <%- include templates/navbar.ejs %>

<main class="px-3">
  <div class="row justify-content-center"> 
    
  <div class="col-12 ">
  <h1>¿Cómo tener la mejor entrevisa?</h1>
  <p class="lead ">
      
              Asegúrate de tener una conexión estable a internet.
            <br>  Vigila la iluminación y el sonido ambiente (que no tengas ventanas detrás tuyo).<br>
             <br> No te olvides de cuidar la imágen.  <br>
            <br>Al hacer click en empezar se te solicitará permisos para acceder a la cámara y sonido, porfavor selecciona la opción de <b>permitir.</b><br>
            <br><img src="/images/permisosWeb.png" width="300px"class="rounded mx-auto d-block">
            <br>Cuando se tengan los permisos requeridos, se activará la cáma y se realizará primero una prueba de sonido, después empezará la entrevista.
      </ul>

  <p class="lead">
    <a href="./empezar" class="btn btn-info">Empezar</a>
  </p>
</div>
</div>
</form>
</main>
<%- include templates/footer.ejs %>
