<%- include templates/header.ejs %>
  <body class="d-flex h-100 text-center text-bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div class="justify-content-center">
      <h3>__ Entrevistas</h3>
    </div>
  </header>
<div class="d-flex justify-content-center">
  
  <video controls  >
    <%- source_video %> 

  </video>
</div>
  

</p>
  
  <%- include templates/footer.ejs %>
</div>
</body></html>
