<%- include templates/header.ejs %>
  <body class="d-flex h-100 text-center text-bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <%- include templates/navbar.ejs %>

<div id="cotainer_video">
    <video id="video_"  autoplay  width="720" >No puede cargar el video :c </video>
</div>  
<p id="base64video">

</p>
  
  <%- include templates/footer.ejs %>
</div>
</body></html>
