<footer class="mt-auto text-white-50">
  <p>Creado por<a href="https://getbootstrap.com/" class="text-white">HQ5</a>, by <a href="https://hq5.com.co" class="text-white">@mdo</a>.</p>
</footer>
</div>

</body></html>